/nbproject/private/
/dist/
build/web/WEB-INF/classes/Serverlets/HomeServlet.class
build/web/WEB-INF/classes/Serverlets/LoginServerlet.class
build/web/WEB-INF/classes/Serverlets/RegistroServerlet.class
build/web/WEB-INF/classes/Serverlets/UsersServlet.class
build/web/WEB-INF/lib/com.mysql.jdbc_5.1.5.jar
build/web/WEB-INF/lib/laboratorioProgramacionAplicaciones.jar
